.base {
    display: inline-flex;
    transition: transform 250ms ease;

& svg {
      display: block;
      width: 100%;
      height: auto;
  }
}

.xsmall {
    width: 0.5em;
    height: 0.5em;
}

.small {
    width: 0.75em;
    height: 0.75em;
}

.normal {
    width: 1em;
    height: 1em;
}

.medium {
    width: 1.5em;
    height: 1.5em;
}

.large {
    width: 2em;
    height: 2em;
}

.dark {
    color: var(--dark-gray);
}

.light {
    color: var(--white);
}

.primary {
    color: var(--blue);
}

.primary-hc {
    color: var(--dark-blue);
}

.secondary {
    color: var(--purple);
}

.tertiary {
    color: var(--purple);
}
